header {
    width: 100%;
    color: #fff;
    position: fixed;
    z-index: 10;
    background-color: #000;
    padding: 20px 0px 20px 0px;
    min-height: 2vh;
}

header a {
    margin-left: 20px;
    margin-right: 5px;
}