<footer>
    <div class="">
        <a href="https://www.linkedin.com/in/cibele-watt-615188111" target="_blank" class="footer-text"><i class="mdi mdi-linkedin"></i></a>
        <a href="https://github.com/cibelewatt" target="_blank" class="footer-text"><i class="mdi mdi-github"></i></a>
        <a href="https://www.instagram.com/pizzacrek_salvador" target="_blank" class="footer-text"><i class="mdi mdi-instagram"></i></a>
        
    </div>
    <p>
        Todos os direitos reservados.
    </p>
</footer>