/* You can add global styles to this file, and also import other style files */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");
@import url(https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css);
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

a:hover {
    font-weight: bolder;
    font-size: 1.1em;
}

nav a {
    color: #777;
    font-weight: 500;
}

section {
    padding: 40px 20px;
}

.v-main{
    min-height: 83.7vh;
}

.todo-list{
    margin-top: 20px;
}

/* display */

.flex {
    display: flex;
}

/* flex */

.align-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-default {
    gap: 20px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Text */

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.5;
    text-transform: uppercase;
}

h1 {
    color: #fff;
    font-size: 4rem;
    line-height: 1.3;
    font-weight: 600;
}

h2 {
    text-align: center;
    font-size: 2.25rem;
    line-height: 1.3;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

/* Button */

button :hover{
    font-weight: bolder;
    cursor: pointer;
}