<section id="banner" class="v-main">
    <h1>Nossa Lista de RoadMap</h1>
    <h3>Adicione aqui o que você gostaria que fizéssemos para as próximas funcionalidades.</h3>
    <div class="banner-content">
        <div>
            <form >
                <input type="text" id="todo-entry" [(ngModel)]="inputText" name="first"/>
                <div class="col-1"></div>
                <button id="adicionar" class="gap-default" (click)="addElement()">
                    <i id="adicionar" class="fa fa-plus" aria-hidden="true" (click)="addElement()"></i>
                </button>
           </form>
        </div>
        <div class="each-list flex justify-center gap-default">
            <div class="box">
                <h3> To Do </h3>
                <div>
                    <div>
                        <ul id="todo-list">
                            <li class="flex justify-space-between" *ngFor="let element of _list; let i = index"> 
                                <!-- div editável -->
                                <div contentEditable="true" >{{element}}</div>
                                <div>
                                    <button (click)="removeElement(i)"><i class="fa fa-trash" aria-hidden="true" (click)="removeElement(i)"></i></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
